navbar#navbar
    .container
        ul.list-unstyled 
            - var newClass = 0;
            each val , index in navbar
                - val[2] ? newClass = 'hasSub' : newClass = 0;
                div.navSubContainer
                    li 
                        div(class=newClass)
                            a(href=val[1])= val[0] 

                            if val[2]
                                ul.list-unstyled.subNavLinks 
                                    each ll in val[2]
                                        li
                                            a(href=ll[1])= ll[0]
                                            
                                    .clear-fix
                                    span.bottom 
                                        img(src="/images/navbar/navbar_list_botton.webp", alt="Link")