navbar#navbar
    .container
        ul.list-unstyled 
            li 
                div.hasSub
                    a(href="/") Home
                    ul.list-unstyled
                        li 
                            a(href="#Introduction") Introduction
                        .clear-fix
                        //- img(src="/images/navbar/navbar_list_botton.webp", alt="Link" , style="opacity:0;")
                        span.bottom 
                            img(src="/images/navbar/navbar_list_botton.webp", alt="Link")
            li 
                div 
                    a(href="/products.html") Products
            li 
                div 
                    a(href="/support.html") Support 
            li 
                div
                    a(href="/why_us.html") Why Us
            li 
                div
                    a(href="/contact_us.html") Contact Us