include pug/global/mainVars.pug
<!DOCTYPE html>
html 
    include pug/global/header.pug
    body 
        //- upprt banner
        #BannerMain
            include pug/components/contact/banner.pug
        //- navbar
        #NavbarMain
            include pug/global/navbar.pug
        //- contact ways
        #ContactWays 
            include pug/components/contact/contactWays.pug
        include pug/global/footer.pug
        script. 
            var onloadCallback = function() {
                grecaptcha.render('re_captcha', {
                'sitekey' : '6Lefb7QUAAAAAGBy7RZzHljlecIHk-MVBqIU7vN4'
                });
            };
        script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=expli" , async , defer)
