include pug/global/mainVars.pug
<!DOCTYPE html>
html 
    include pug/global/header.pug
    body 
        //- upprt banner
        #BannerMain
            include pug/components/homepage/banner.pug
        //- navbar
        #NavbarMain
            include pug/global/navbar.pug
        //- introduction section
        #Introduction 
            include pug/components/homepage/introduce.pug
        //- why us section
        #whyUs 
            include pug/components/homepage/why_us_trusted.pug
        //- products
        #productsHome 
            include pug/components/homepage/products.pug
        //- news
        #newsLetters 
            include pug/components/homepage/news_ketter.pug
        //- support
        #support 
            include pug/components/homepage/support.pug
            
        include pug/global/footer.pug
