include pug/global/mainVars.pug
<!DOCTYPE html>
html 
    include pug/global/header.pug
    body 
        //- upprt banner
        #BannerMain
            include pug/components/why/banner.pug
        //- navbar
        #NavbarMain
            include pug/global/navbar.pug
        //- why us 
        #WhyUs 
            include pug/components/why/whyUs.pug
        include pug/global/footer.pug