$background-color : #fff;
$color : #182752;
$background-hover :#fdb414;
$background-shadow : #c08709;
$color-hover : #2249a1;
$color-active : #FFF;
$transition : all 0.5s ease-in-out;
%box_shadow{
    -webkit-box-shadow: -1px 2px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 18px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 18px -5px rgba(0,0,0,0.75);
}
%navbar_box_shadow{
    -webkit-box-shadow: -1px 2px 46px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 46px -25px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 46px -25px rgba(0,0,0,0.75);
}

$font-family : HelveticaNeue-Thin;
$font-family-ultra-light : HelveticaNeue-UltraLight;

@font-face{
    font-family : 'HelveticaNeue-Thin';
    src : url('../../fonts/helveticaneue/HelveticaNeue Thin.ttf');
}

@font-face{
  font-family : 'HelveticaNeue-UltraLight';
  src : url('../../fonts/helveticaneue/helveticaneue-ultralight.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/Lato/Lato-Italic.ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../../fonts/Lato/Lato-BoldItalic.ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url('../../fonts/Lato/Lato-BlackItalic.ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/Lato/Lato-Light.ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Lato/Lato-Regular.ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/Lato/Lato-Bold.ttf');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../../fonts/Lato/Lato-Black.ttf');
  }
  

body{
  font-family: $font-family;
  height : 400vh;
}