#paymentMethods{
    margin-bottom: 40px;
    margin-top: 80px;
    h3{
        margin-bottom: 40px;
        font-size : 40px;
        font-family: $font-family;
        img{
            margin-left : 10px;
            width : 40px;
            vertical-align: text-top;
        }
    }
    .img-container {
        margin : 0px auto;  
        text-align : center;
    }
    .ways{
        margin-top : 30px;
        align-items: center;
        display : flex;
        justify-content: center;
        padding : 0px 5%;
        flex-wrap: wrap;
        .img-container{
            flex-basis: 85px;
            display: flex;
            align-items: center;
            // opacity : 0.8;
            transition: $transition;
            text-align : center;
            margin : 10px 20px;
            &:hover{
                opacity : 1;
            }
            img{
                vertical-align: middle;
                width:  100%;
                height : auto;
                // width : 40px;
                // height : 40px;
                margin : 0px auto;
            }
        }

    }

}

footer{
    background-color : $footer_background;
    padding : 0px 0px 40px 0px;
    .upper{
        padding-top : 30px;
        .social{
            float : right;
            display : flex;
            width : 180px;
            z-index : 8;
            li{
                margin-left : 5px;
                flex : 1;
                a{
                    width : 25px;
                }
            }
        }

        .prevacy_policy{
            margin-bottom : 20px;
            margin-top : 20px;
            text-align : right;
            display : block;
            color: $color-active;
            font-size: 15px;
            text-decoration : none;
            &:hover{
                color: $background-hover;
            }
        }

        .scroll_top{
            text-align : right;
            display : block;
            color: #ff7230;
            font-size: 15px;
            text-decoration : none;
            &:hover{
                color: $background-hover;
            }
        }
    }

    .map{
        a{
            color :$color-active;
            transition : $transition;
            text-decoration : none;
            margin-bottom : 5px;
            &:hover{
                color : $background-hover;
            }
        }
        .header{
            margin-bottom : 20px;
            font-size : 1.2em;
        }
    }
}
