/**
** project banners
**/
// homepage 
#homepageBanner{
    height : 530px;
    background:url(/images/banners/homepage_banner.jpg) no-repeat right 0; 
    background-size:cover;
    position : relative;
    .logo{
        float : left;
        img{
            width: 262px;
            border-width: 0px;
            border: 0px;
            max-width: 220px;
            height: auto;
            margin-top: 25px;
            margin-left: 15px;
        }
    }

    .social{
        float : right;
        display : flex;
        width : 120px;
        z-index : 8;
        margin-top : 60px;
        li{
            margin-right : 5px;
            flex : 1;
            a{
                width : 25px;
            }
        }
    }

    .logo_contact{
        text-align : center;
    }
    .contact_container{
        margin: 0;
        padding-top: 30px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .contact{
        display: inline-block;
        // margin-left: 14%;
        font-size: 20px;
        text-shadow: 26px 0px 27px #2a313d;
        color: #333;
        font-family: Lato;
        font-weight: 400;
        span , a{
            color : #333;
            text-decoration : none;
        }
        .contact_us_link{
            color : $background-hover;
            transition : $transition;
            &:hover{
                color : $color-hover;
            }
        }
    }

    .demo{
        padding: 200px 0 150px;
        text-align : center;
        h2{
            width: 450px;
            display: block;
            max-width: 100%;
            margin: 0 auto;
            font-family : $font-family;
            font-size: 32px;
            line-height: 36px;
            padding : 0px;
        }
        a{
            display : inline-block;
            color: #1d4ca1;
            font-size: 23px;
            font-family: HelveticaNeue-Thin;
            line-height: 24px;
            padding: 20px 5px;
            min-width: 245px;
            border: 1px solid #949393;
            position: relative;
            text-decoration : none;
            margin-top : 25px;
            transition : $transition;
            &:hover{
                color: $background-hover;
                background: $color-hover;
            }
            &::before{
                content: '';
                margin-right: 12px;
                display: inline-block;
                position: relative;
                top: 2px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 20px 20px;
                border-color: transparent transparent $background-hover transparent;
            }
        }
    }
}

// products 
#ProductsBanner{
    height : 260px;
    background:url(/images/banners/products_banner.jpg) no-repeat right 0; 
    background-size:cover;
    position : relative;
    overflow : hidden;
    .logo{
        float : left;
        img{
            border-width: 0px;
            border: 0px;
            height: 100%;
        }
    }

    .social{
        float : right;
        display : flex;
        width : 120px;
        z-index : 8;
        margin-top : 60px;
        li{
            margin-right : 5px;
            flex : 1;
            a{
                width : 25px;
            }
        }
    }

    .logo_contact{
        text-align : center;
    }
    .contact_container{
        margin: 0;
        padding-top: 30px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        text-align : right;
    }
    .contact{
        display: inline-block;
        font-size: 20px;
        text-shadow: 26px 0px 27px #2a313d;
        color: #333;
        font-family: Lato;
        font-weight: 400;
        margin-right : 140px;
        span , a{
            color : rgb(255, 255, 255);
            text-decoration : none;
        }
        .contact_us_link{
            color : $background-hover;
            transition : $transition;
            &:hover{
                color : $color-hover;
            }
        }
    }
}

/*
** project banners
*/
@media screen and(max-width : 991px){
   // homepage 
    #homepageBanner{
        background-position: calc(100% + 130px) 85px !important;
        .overly{
            position : absolute;
            width : 100%;
            height : 100%;
            left : 0px;
            top : 0px;
            background-color : rgba(255, 255, 255, 0.267);
        }
        .logo{
            display : none;
        }

        .social{
            display : none;
        }

        .logo_contact{
            display : none;
        }
        .contact_container{
            display : none;
        }
        .contact{
            display : none;
        }

        .demo{
            h2{
                color : #000;
                font-weight : bold;
            }
            a{
                color: $background-hover;
                background: $color-hover;
            }
        }
    } 

    // products
    #productsBannerSpacePhone{
        margin-top : 70px;
    }
    #ProductsBanner{
        display : none;
    }
}