#homePageNewsLetters{
    background :url(/images/introduce/intro2_background.jpg) no-repeat;
    background-size : cover;
    padding : 60px 0px;
    h1{
        margin-bottom : 40px;
    }
    .data{
        margin-bottom : 20px;
        a{
            text-decoration : none;
            .img-container{
                height : 268px;
                width : 100%;
                overflow : hidden;
                img{
                    height:  100%;
                    width : 100%;
                    transition: $transition;
                    &:hover{
                        transform : scale(1.1);
                    }
                }
            }

            .title{
                margin : 10px 0px;
                font-family : Lato-Bold;
                color : #333;
            }
        }

    }
}