// homepage products
#homePageProducts{
    padding-top : 40px;
    padding-bottom : 80px;
    background :url(#{$projectUrl}/images/introduce/intro2_background.jpg) no-repeat;
    background-size : cover;
    h1{
        font-size : 40px;
        padding : 40px 0px;
        font-weight:bold;
        font-family : Lato;
    }
    .options{
        .data{
            margin-bottom : 20px;
            &:hover{
                svg{
                    margin-top : -20px;
                    path{
                        fill : $background-hover !important;
                    }
                }
            }
            svg{
                transition : $transition;
                path{
                    transition : $transition;
                    fill : $color-hover;
                }
            }

            h3 , p{
                font-family : Lato-Regular;
                a{
                    color : #000;
                }
            }
        }
    }
}

// homepage solutions
#homePageSolutions{
    padding : 40px 0px;
    span{
        font-size: 82px;
        line-height: 82px;
        color: #333;
        font-family: $font-family-ultra-light;
        margin: 0 0 60px;
        padding: 0;
    }
    .icon{
        display : flex;
        align-items : center;
        text-align : center;
        span{
            flex : 1;
            margin: 0px !important;
        }
    }
}

// products page 
#AllProducts{
    position : relative;
    .product{

        .head{
            padding: 40px 0 75px;
            .row{
                align-items : center;
            }
            h1{
                color: $color-active;
                margin: 0;
                font-size: 82px;
                line-height: 82px;
                font-family:$font-family-ultra-light;
                padding: 0;
                &:after{
                    content: '';
                    margin-left: 10px;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 20px 20px;
                    border-color: transparent transparent $background-hover transparent;
                }
            }
            p{
                color: $color-active;
                font-family:$font-family;
                font-size: 22px;
            }
            &.second{
                background-color : #f2f2f2;
                padding: 80px 0;
                overflow : hidden;
                h1{
                    margin-bottom : 20px;
                }
                img{
                    height : 100%;
                }
                *{
                    color : #333; 
                }
            }
        }

        .content{
            padding-bottom : 40px;
            position : relative;
            h1{
                margin: 0;
                font-size: 62px;
                line-height: 62px;
                font-family:$font-family-ultra-light;
                padding: 80px 0px 40px;
                &:after{
                    content: '';
                    margin-left: 10px;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 20px 20px;
                    border-color: transparent transparent $background-hover transparent;
                }
            }
            .img{
                width : 150px;
                position:  absolute;
                left : calc(50% - 75px);
                top : calc(50% - 20px);
            }
            .text{
                margin-bottom : 40px;
                font-family:$font-family;
                font-size: 18px;
                border : 1px solid #DDD;
                border-radius : 10px;
                padding-top : 15px;
                padding-bottom : 15px;
                transition : $transition;
                &:hover{
                    box-shadow: 0px 0px 20px #e8e6e6;
                }
            }

            .head_data{
                text-align : center;
                margin-bottom : 10px;
                img{
                    width : 50px;
                    display : inline-block;
                    vertical-align: bottom;
                }                
                h4{
                    font-weight : bold;
                    display : inline-block;
                    margin : 0px;
                    font-family : Lato
                }
            }
        }

        .purches{
            padding: 130px 0 75px;
            text-align:right;
            h2{
                color: $color-active;
                margin: 60px 0 50px;
                padding: 0;
                font-size: 39px;
                line-height: 50px;
                font-family: $font-family;
                text-align: right;
                float: right;
            }
            a{
                display: inline-block;
                padding: 28px 10px;
                background: $background-hover;
                color: $color-active;
                text-align: center;
                font-size: 23px;
                line-height: 16px;
                min-width: 250px;
                text-decoration : none;
                font-family: $font-family;
                transition: $transition;
                &:hover{
                    background : $color-hover;
                }
            }
        }

    }


}


/*
* products design for mobile
*/
@media screen and(max-width : 991px){
    // homepage solutions
    #homePageSolutions{
        span{
            font-size: 40px;
            line-height: 45px;
            margin-bottom : 30px;
            display : inline-block;
            font-family : $font-family;
            text-align : left !important;
        }
        .icon{
            display : none;
        }
    }


    // products page 
    #AllProducts{
        .product{
            .head{
                padding: 40px 0 10px;
                background-position: 70% center !important;
                .row{
                    align-items : center;
                }
                h1{
                    font-size: 40px;
                    line-height: 40px;
                    margin-bottom : 30px;
                    padding-right : 20px;
                    font-weight : bold;
                }
                p{
                    font-size: 18px;
                }
                &.second{
                    padding: 80px 0 30px;
                    img{
                        height : auto;
                    }
                }
            }

            .content{
                padding-bottom : 40px;
                position : relative;
                h1{
                    font-size: 42px;
                    line-height: 42px;
                    font-family:$font-family;
                    text-align : center;
                    padding: 80px 15px 40px;
                    &:after{
                        content: '';
                        margin-left: 10px;
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 20px 20px;
                        border-color: transparent transparent $background-hover transparent;
                    }
                }
                .img{
                    display : none;
                }
                .text{
                    margin-right:  15px;
                    margin-left:  15px;
                }
            }

            .purches{
                background-position: 0 0 !important;
                background-size: cover !important;
                padding: 80px 0;
                text-align:center;
                h2{
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center !important;
                    max-width: 100% !important;
                    float: none;
                }
                a{
                    padding: 22px 10px;
                }
            }

        }


    }

}