#homepageBanner(
    style="background:url(/images/banners/homepage_banner.jpg) no-repeat right 0; background-size:cover;") 
    .container-fluid.wow.fadeInUp
        .logo_contact
            a.logo(href="/") 
                img(src="/images/logos/Voice_Logo.png", alt="Voice Logo")
            .contact_container
                .contact.text-center
                    span Contact us at 
                        a(href="tel:+"+contactNumberURL) #{contactNumber} 
                        span or  
                        a.contact_us_link(href="/contact_us.html") Click Here
        .demo 
            h2 Affordable, Reliable and Flexible: VoIP for Modern Enterprises.  
            a(href="contact_us.html") Request A Demo