#homePageNewsLetters
    .container 
        h1 News Letter 
        .row.wow.bounceInUp
            each val in newsLetterHomepage 
                .col-md-4.data
                    a(href=val[1]) 
                        .img-container 
                            img.img-fluid(src='/'+val[2] , alt=val[0])
                        .title= val[0]
