#homePageNewsLetters
    .container 
        h1 News Letter 
        .row.wow.bounceInUp
            each val in newsLetterHomepage 
                .col-md-4.data
                    div.border 
                        .img-container 
                            img.img-fluid(src=projectUrl+'/'+val[2] , alt=val[0])
                        .title.border= val[0]
                        .content.border !{val[1]}
