#homePageSupport 
    .container 
        .row 
            .col-md-4.order-2.order-md-1.wow.bounceInUp
                img.img-fluid(src="/images/support/client_suppor.webp") 
            .col-md-8.text-center
                h2 Flexible VoIP for Modern Enterprises.
                a(href="/support.html") Get a Quote